[Unit]
Description=Sushi OSC-MIDI bridge
After=sushi.service

[Service]
Type=simple
RemainAfterExit=yes
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitSTACK=infinity
WorkingDirectory=/udata/
ExecStart=/bin/sleep 5
ExecStart=/udata/sushi-osc-midi-bridge/bin/sushi-midi-osc-bridge
User=mind

[Install]
WantedBy=multi-user.target

